[Unit]
Description=Gunicorn server for 101.201.254.5

[Service]
Restart=on-failure
User=yyy
WorkingDirectory=/home/ff/sites/101.201.254.5/source
ExecStart=/home/ff/sites/101.201.254.5/virtualenv/bin/gunicorn --bind unix:/tmp/101.201.254.5.socket notes.wsgi:application

[Install]
WantedBy=multi-user.target
