[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=ff
WorkingDirectory=/home/ff/sites/SITENAME/source
ExecStart=/home/ff/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/101.201.254.5.socket notes.wsgi:application

[Install]
WantedBy=multi-user.target
